{% include 'header.twig' %}
<!-- Start My Account Area -->
<section class="my_account_area pt--80 pb--55 bg--white">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="my__account__wrapper">
                    <h3 class="account__title">Login</h3>
                    <form id="login-form">
                        <div class="account__form">
                            <div class="input__box">
                                <label>Login <span>*</span></label>
                                <input type="text" id="login-field" required>
                            </div>
                            <div class="input__box">
                                <label>Password<span>*</span></label>
                                <input type="password" id="pwd-field" required>
                            </div>

                            <p class="text-danger" id="note"></p>

                            <div class="form__btn">
                                <button>Login</button>
                                <label class="label-for-checkbox">
                                    <input id="rememberme" class="input-checkbox" name="rememberme" value="forever"
                                           type="checkbox">
                                    <span>Remember me</span>
                                </label>
                            </div>
                            <a class="forget_pass" href="#">Lost your password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End My Account Area -->
<script src="/js/login.js"></script>
{% include 'footer.twig' %}
